.task-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 10px;

  background-color: #fafafa;

  & > .header {
    width: 100%;
    padding: 10px;
    color: white;
  }

  .task-cards-container {
    padding: 10px;
  }
}