.card-small {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: #eaeaea;
  position: relative;

  display: flex;
  flex-direction: column;

  &.isDragging {
    background-color: lightgreen;
  }

  .card-content {
    h3 {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .card-info {
    display: flex;
    justify-content: space-between;

    .due-date {
      color: #aaa;
      margin: 0;
    }

    .user {
      color: #aaa;
      margin: 0;
    }
  }

  .menu {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;

    .menu-button {
      opacity: .5;
    }
  }

  &:hover {
    .menu {
      display: inherit;
    }
  }
}
